<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
   
<!-- h1 style="text-align: center">Site Search</h1 -->

<div class="pagefind-search">
  <div id="search"></div>
  <p style="text-align: center; font-size: 0.7em">Full-Text search powered by <a target="_blank" href="https://pagefind.app/">Pagefind</a></p>
</div>  
  
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>
